@import '../styles/main';

.ThumbnailInner {
  cursor: pointer;
  height: 80px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 4px solid transparent;
  transition: all 0.2s ease-out;

  &:hover {
    border: 4px solid $color-primary-light;
  }

  &.Active {
    border: 4px solid $color-primary;
  }
}

.ThumbnailImage {
  height: 100%;
  width: 100%;
}