@import '../styles/main';

.CircleSelection {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  span {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}