@import '../styles/main';


.Icon {
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  color: $color-white;
  top: 328px;
  left: 30px;
  transition: all 0.2s ease-out;

  @include media-breakpoint-up(md) {
    left: 20px;
    font-size: 28px;
    top: 555px;
  }

  &:hover {
    color: $color-primary;
    transform: scale(1.06);
  }

  &:active {
    transform: scale(1.06) translateY(4px);
  }
}