@import '../styles/main';

.Container {
  margin: 16px auto;
  position: relative;

  @include media-breakpoint-up(md) {
    margin: 32px auto;
  }
}

.FullScreenIcon {
  position: absolute;
  cursor: pointer;
  font-size: 24px;
  color: $color-white;
  top: 325px;
  right: 30px;
  transition: all 0.2s ease-out;

  @include media-breakpoint-up(md) {
    right: 20px;
    font-size: 36px;
    top: 549.5px;
  }

  &:hover {
    color: $color-primary;
    transform: scale(1.06);
  }

  &:active {
    transform: scale(1.06) translateY(4px);
  }
}