@import '../styles/main';

.Header {
  background-color: $color-primary;
  padding: 20px 30px;
  color: $color-white;
  text-align: center;

  h1 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;

    @include media-breakpoint-up(md) {
      font-size: 32px;
    }
  }
}