@import '../styles/main';

.Pagination {
  position: absolute;
  display: flex;
  align-items: center;
  top: 330px;
  left: 50%;
  transform: translateX(-50%);

  @include media-breakpoint-up(md) {
    top: 570px;
  }

  span {
    &:not(:last-child) {
      margin-right: 8px;

      @include media-breakpoint-up(md) {
        margin-right: 10px;
      }
    }
  }
}