@import '../styles/main';

.Gallery {
  display: none;

  @include media-breakpoint-up(md) {
    height: 600px;
    display: flex;
    overflow: hidden;
  }
}

.GalleryMobile {
  padding: 0 10px;
}

.Image {
  display: block;
  height: 360px;
  width: 100%;

  @include media-breakpoint-up(md) {
    display: none;
  }
}